* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-inline: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  font-family: monospace;
}

.calculator {
  width: min(100%, 350px);
  padding: 1.25rem;
  background-color: #aaa;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.calculator__screen {
  margin-bottom: 1.25rem;
  padding: 0.75rem 0.5rem;
  background-color: #eee;
  border: 2px solid #333;
  border-radius: 4px;
}

.calculator__output {
  min-height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator__output--secondary {
  font-size: 1.25rem;
}

.calculator__output--primary {
  font-size: 1.75rem;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.75rem;
}

.calculator__btn {
  aspect-ratio: 1 / 1;
  border: 2px solid #333;
  border-radius: 4px;
  color: #000;
  font-family: inherit;
  font-size: 1.25rem;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.calculator__btn--clear,
.calculator__btn--del {
  grid-column: span 2;
  aspect-ratio: auto;
  text-transform: uppercase;
}

.calculator__btn--clear {
  background-color: #f88;
}

.calculator__btn--del {
  background-color: #88f;
}

.calculator__btn--digit,
.calculator__btn--decimal-point,
.calculator__btn--evaluate {
  background-color: #eee;
}

.calculator__btn--operator {
  background-color: #fc4;
}

@media (hover: hover) and (pointer: fine) {
  .calculator__btn--clear:hover {
    background-color: #f77;
  }

  .calculator__btn--clear:active {
    background-color: #f66;
  }

  .calculator__btn--del:hover {
    background-color: #77f;
  }

  .calculator__btn--del:active {
    background-color: #66f;
  }

  .calculator__btn--digit:hover,
  .calculator__btn--decimal-point:hover,
  .calculator__btn--evaluate:hover {
    background-color: #ddd;
  }

  .calculator__btn--digit:active,
  .calculator__btn--decimal-point:active,
  .calculator__btn--evaluate:active {
    background-color: #ccc;
  }

  .calculator__btn--operator:hover {
    background-color: #fb4;
  }

  .calculator__btn--operator:active {
    background-color: #fa4;
  }
}
