* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-inline: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  font-family: monospace;
}

.calculator {
  width: min(100%, 350px);
  padding: 1.25rem;
  background-color: #aaa;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.calculator__screen {
  margin-bottom: 1.25rem;
  padding: 0.75rem 0.5rem;
  background-color: #eee;
  border: 2px solid #333;
  border-radius: 4px;
}

.calculator__output {
  min-height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator__output--secondary {
  font-size: 1.25rem;
}

.calculator__output--primary {
  font-size: 1.75rem;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.75rem;
}

.calculator__btn {
  aspect-ratio: 1 / 1;
}

.calculator__btn--clear,
.calculator__btn--del {
  grid-column: span 2;
  aspect-ratio: auto;
}
